<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/MyWebsite/image/hsq.png">
    <title>CSS学习文档</title>
</head>
<link rel="stylesheet" href="/MyWebsite/font/css/font-awesome.min.css">
<link href="https://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<body>
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li>
                <a href="/MyWebsite/index.php/IndexController/index">Hui首页</a>
            </li>
            <li>
                <a href="/MyWebsite/index.php/UserController/show_html">HTML</a>
            </li>
            <li class="active">
                <a href="/MyWebsite/index.php/UserController/show_css">CSS</a>
            </li>
            <li>
                <a href="/MyWebsite/index.php/UserController/show_js">JavaScript</a>
            </li>
            <li>
                <a href="/MyWebsite/index.php/UserController/show_php">PHP</a>
            </li>
            <li>
                <a href="/MyWebsite/index.php/UserController/show_mysql">MySQL</a>
            </li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle active" data-toggle="dropdown">工具<strong class="caret"></strong></a>
                <ul class="dropdown-menu" role="menu" style="display: none;">
                    <li><a href="/MyWebsite/index.php/UserController/show_filesystem">文件管理</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>