<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/MyWebsite/image/hsq.png">
    <title>Hui的个人主页</title>
</head>
<link rel="stylesheet" href="/MyWebsite/font/css/font-awesome.min.css">
<link href="https://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<body style='background:url(/MyWebsite/image/bg2.jpg) no-repeat;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;'>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/MyWebsite/index.php/IndexController/index">Hui首页</a>
                        </li>
                        <li>
                            <a href="/MyWebsite/index.php/UserController/show_html">HTML</a>
                        </li>
                        <li>
                            <a href="/MyWebsite/index.php/UserController/show_css">CSS</a>
                        </li>
                        <li>
                            <a href="/MyWebsite/index.php/UserController/show_js">JavaScript</a>
                        </li>
                        <li>
                            <a href="/MyWebsite/index.php/UserController/show_php">PHP</a>
                        </li>
                        <li>
                            <a href="/MyWebsite/index.php/UserController/show_mysql">MySQL</a>
                        </li>
                        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench" aria-hidden="true"></i>工具<strong class="caret"></strong></a>
                            <ul class="dropdown-menu" role="menu" style="display: none;background:rgba(255,255,255,0.3);">
                                <li><a href="/MyWebsite/FileSystem/FileSystem.php"style="background:rgba(255,255,255,0);">文件管理</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-university" aria-hidden="true"></i>哈理工导航<strong class="caret"></strong></a>
                            <ul class="dropdown-menu" role="menu" style="display: none;background:rgba(255,255,255,0.3);">
                                <li><a href="http://www.hrbust.edu.cn" target="_blank" style="background:rgba(0,0,0,0);" >哈尔滨理工大学首页</a></li>
                                <li><a href="http://jwzx.hrbust.edu.cn/homepage/index.do" style="background:rgba(0,0,0,0);" target="_blank" >教务在线系统</a></li>
                                <li><a href="http://acm.hrbust.edu.cn/" target="_blank" style="background:rgba(0,0,0,0);">OJ系统</a></li>
                                <li><a href="http://222.27.192.13/SYSZH/SYSGLWangZhan/Index.aspx" target="_blank" style="background:rgba(0,0,0,0);">物理实验选课系统</a></li>
                                <li><a href="http://hrbust.fanya.chaoxing.com/portal" target="_blank" style="background:rgba(0,0,0,0);">网络教育平台</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-paperclip" aria-hidden="true"></i>常用网站<strong class="caret"></strong></a>
                            <ul class="dropdown-menu" role="menu" style="display: none;background:rgba(255,255,255,0.3);">
                                <li><a href="http://www.youku.com" target="_blank" style="background:rgba(0,0,0,0);">Youku</a></li>
                                <li><a href="https://www.bilibili.com" target="_blank" style="background:rgba(0,0,0,0);" >Bilibili</a></li>
                                <li><a href="https://www.youtube.com" target="_blank" style="background:rgba(0,0,0,0);">Youtube</a></li>
                                <li><a href="https://www.imooc.com" target="_blank" style="background:rgba(0,0,0,0);">Imooc</a></li>
                                <li><a href="https://ke.qq.com/" target="_blank" style="background:rgba(0,0,0,0);">KeQQ</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="col-md-12 column" style="margin-top: 70px">
                <h3 class="text-center">
                    HELLO PEOPLE,MY NAME IS
                </h3>
                <h2 class="text-center">
                    Hui Azir
                </h2>
                <h5 class="text-center">
                    HERE IS MY WEBSITE
                </h5>
            </div>
        </div>
    </div>
</div>
    <table width="100%">
        <tr><td align="center">
        <form method=get action="http://www.google.com/search" target="_blank">
            <a href="http://www.google.com/intl/zh-CN/">
                <img src="/MyWebsite/image/google2.png" width="165" height="67.5" border="0" alt="Google" align="absmiddle"></a>
            <input type=text name=q style="background:rgba(255,255,255,0.3);border: black;height:28px;border-radius:9px;" size=45 maxlength=255 value="">
            <input type=hidden name=ie value=utf-8>
            <input type=hidden name=oe value=utf-8>
            <input type=hidden name=hl value=zh-CN>
            <input type=submit name=btnG class="btn btn-inverse btn-default" style="background:rgba(0,0,0,0.3);border: black;" value="Google 搜索">
        </form>
        </td><td align="center">
        <form action="http://www.baidu.com/baidu" target="_blank">
            <input name=tn type=hidden value=baidu>
            <a href="http://www.baidu.com/">
                <img src="/MyWebsite/image/baidu4.png" width="135" height="47" alt="Baidu" align="bottom" border="0">
            </a>
            <input type=text name=word size=45 maxlength=255 style="background:rgba(255,255,255,0.3);border: black;height:28px;border-radius:9px;" value="">
            <input type=submit name=btnG class="btn btn-inverse btn-default" style="background:rgba(0,0,0,0.3);border: black" value="Baidu 搜索">
        </form>
        </td></tr>
    </table>
</body>
<script>
    $(function(){
        var li = $('.navbar-nav li');
        li.each(function(){
            $(this).click(function(){
                if( $(this).hasClass('opens') && $(this).find('ul li').length !=0){
                    $(this).find('ul').slideUp(250);
                    $(this).removeClass('opens');
                }else if($(this).find('ul li').length !=0){
                    $(this).find('ul').slideDown(250);
                    $(this).addClass('opens');
                    $(this).siblings('li').removeClass('opens').find('ul').slideUp();
                }
            });
        });
    })
</script>
</html>